<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    <!-- Google fonts Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- CSS Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!-- CSS do projeto -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- JavaScript Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-primary-color" id="navbar">
        <div class="container py-3">
          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/Gestiona-logo.jpg') }}" alt="Gestiona" />
            <span>Gestiona</span>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-items"
            aria-controls="navbar-items"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="bi bi-list"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#featured-container">Contato</a>
              </li>
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a id="register-button" class="nav-link" href="/user">Perfil</a>
              </li>
              <li class="nav-item">
                <a id="register-button" class="nav-link" href="/logout">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a id="login-button" class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#login-modal">Login</a>
              </li>
              <li class="nav-item">
                <a id="register-button" class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#register-modal">Registrar</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}{% endblock %}
</body>
<script>
  var login = '{{ login }}'
  var register = '{{ register }}'
  if (login == 'False'){
    button = document.getElementById('login-button')
    button.click()
  }
  if (register == 'False'){
    button = document.getElementById('register-button')
    button.click()
  }
</script>
</html>