{% extends 'base.html' %}

{% block title %}Gestiona - Gestão e Resultados{% endblock %}

{% block content %}
<div class="container" id="slider-container">
    <div id="slider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='img/banner-1.jpeg') }}" class="d-block w-100" alt="Casa 1" />
                <div class="carousel-caption">
                    <h5>Projetos Sustentáveis</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/banner-2.jpeg') }}" class="d-block w-100" alt="Casa 2" />
                <div class="carousel-caption">
                    <h5>Gestão Inteligente</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/banner-3.jpg') }}" class="d-block w-100" alt="Casa 3" />
                <div class="carousel-caption">
                    <h5>Clientes Fidelizados</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
            <i class="bi bi-chevron-compact-left"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
            <i class="bi bi-chevron-compact-right"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="col-12 col-md-10 offset-md-1" id="mini-banners">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card text-center">
                    <i class="bi bi-box primary-color"></i>
                    <div class="card-body">
                        <h5 class="card-title primary-color">Projetos completos</h5>
                        <p class="card-text secondary-color">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a href="#" class="btn btn-dark">Saber Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card text-center">
                    <i class="bi bi-layers primary-color"></i>
                    <div class="card-body">
                        <h5 class="card-title primary-color">Você participa também</h5>
                        <p class="card-text secondary-color">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a href="#" class="btn btn-dark">Saber Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card text-center">
                    <i class="bi bi-lightning-charge"></i>
                    <div class="card-body primary-color">
                        <h5 class="card-title primary-color">
                            Implementações rápidas
                        </h5>
                        <p class="card-text secondary-color">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <a href="#" class="btn btn-dark">Saber Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- QUEM SOMOS -->
<div class="container mb-4">
    <div class="col-12">
        <h2 class="title primary-color">Trabalhos em Destaque</h2>
        <p class="subtitle secondary-color">
            Conheça nossos projetos mais desafiadores
        </p>
    </div>
    <div class="col-12" id="featured-images">
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <img src="{{ url_for('static', filename='img/bmw.png') }}" alt="Projeto 1" class="img-fluid"
                    width="150px" />
            </div>
            <div class="col-12 col-md-4">
                <img src="{{ url_for('static', filename='img/petrobras-logo.png') }}" alt="Projeto 2" class="img-fluid"
                    width="150px" />
            </div>
            <div class="col-12 col-md-4">
                <img src="{{ url_for('static', filename='img/adidas-logo.png') }}" alt="Projeto 3" width="150px" />
            </div>
            <div class="col-12 col-md-4">
                <img src="{{ url_for('static', filename='img/unilever-logo.png') }}" alt="Projeto 4" class="img-fluid"
                    width="150px" />
            </div>
            <div class="col-12 col-md-4">
                <img src="{{ url_for('static', filename='img/riachuelo.png') }}" alt="Projeto 5" class="img-fluid"
                    width="150px" />
            </div>
            <div class="col-12 col-md-4">
                <img src="{{ url_for('static', filename='img/ml-logo.png') }}" alt="Projeto 6" class="img-fluid"
                    width="150px" />
            </div>
        </div>
    </div>
</div>
<!-- INFO -->
<div class="container" id="info-container">
    <div class="col-12">
        <h2 class="title primary-color">Detalhes Importantes</h2>
        <p class="subtitle secondary-color">
            Saiba mais sobre a experiência da nossa incrível equipe
        </p>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-5" id="info-banner">
                <img src="{{ url_for('static', filename='img/selo-verde.jpg') }}" alt="Selo Verde" class="img-fluid" />
            </div>
            <div class="col-12 col-md-7 bg-secondary-color" id="info-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">Estes dados fazem a diferença:</h2>
                        <p class="subtitle secondary-color">
                            Respeito ao conhecimento de seus
                            clientes; Zelo com os clientes através de um ambiente empático; Transparência em todas as
                            relações; Prestação de serviços efetivos; Apoio ao desenvolvimento sustentável para o
                            futuro.
                        </p>
                    </div>
                    <div class="col-12" id="info-numbers">
                        <div class="row">
                            <div class="col-4">
                                <h3 class="primary-color">10</h3>
                                <p class="secondary-color"> Anos de experiência</p>
                            </div>
                            <div class="col-4">
                                <h3 class="primary-color">1345</h3>
                                <p class="secondary-color">ODS aplicados</p>
                            </div>
                            <div class="col-4">
                                <h3 class="primary-color">639</h3>
                                <p class="secondary-color">Clientes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-dark">Saber Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTATO -->
<div class="container" id="featured-container">
    <div class="col-12">
        <h2 class="title primary-color">Entre em contato</h2>
        <p class="subtitle secondary-color">
            Envie-nos uma mensagem!
        </p>
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Seu email</label>
                <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Não compartilharemos seu e-amil com terceiros</div>
            </div>
            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="telefone" aria-describedby="telefoneHelp">
                <div id="telefoneHelp" class="form-text">Opcional</div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                <textarea class="form-control" required id="exampleFormControlTextarea1" rows="7"
                    aria-describedby="mensagemHelp"></textarea>
                <div id="mensagemHelp" class="form-text">Conte-nos um pouco sobre os problemas que está enfrentando
                </div>
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>
{% include 'login-modal.html' %}
{% include 'register-modal.html' %}
{% include 'footer.html' %}
{% endblock %}