<!-- Modal -->

<div class="modal fade " id="register-modal" tabindex="-1" aria-labelledby="register-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="register-modal">Registrar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="mb-3 p-2" style="background-color: rgb(55, 206, 105);">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="mb-3">
                        <label for="register-name" class="form-label">Seu nome</label>
                        <input type="text" name="register-name" required class="form-control" id="register-name" required>
                    </div>
                    <div class="mb-3">
                        <label for="register-email" class="form-label">Seu email</label>
                        <input type="email" name="register-email" required class="form-control" id="register-email"
                            aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">Não compartilharemos seu e-amil com terceiros</div>
                    </div>
                    <div class="mb-3">
                        <label for="register-password" class="form-label">Sua senha</label>
                        <input type="password" name="register-password" required class="form-control" id="register-password" required>
                    </div>
                    <button type="submit" name="submit-button" value="register" class="btn btn-success">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>